<!DOCTYPE html>
<html>
<head>
	<title>wdiEat</title>
  <link rel="stylesheet" type="text/css" href="http://csshake.surge.sh/csshake.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>
<body>
	<a href="/">
	<div class="logo-all">
	  <div id="logo-text">
	      WDI EAT?</div>
	<canvas id="canvaslogo" width="202" height="202">  </canvas>
</div>
</a>

	<div>
	<% if (user) {%>
		<div class = "text-center">
			<h1><%= user.local.name || user.facebook.name %></h1>
			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
			<a href="/profile" class="btn btn-default btn-sm">Favorites</a>
			<a href="/" class="btn btn-default btn-sm">Homepage</a>
			<div id="user" style="display: none"><% if (user) {%><%= JSON.stringify(user) %><%} %></div>
		</div>
	<% } else {%>
		<div class="text-center">
			<a href="/session" class="btn btn-default btn-sm">Favorites</a>
			<a href="/" class="btn btn-default btn-sm">Homepage</a>
				<!-- <h3>Login or Sign Up:</h3>
				<a href="/login" class="btn btn-default">Local Login</a>
				<a href="/signup" class="btn btn-default">Local Signup</a>
				<hr>
				<h4>Or Login With <a href="/auth/facebook" class="btn btn-primary">Facebook</a></h4> -->
		</div>

	<% } %>
		<hr>

	<div class="container">

		<%- body %>
	</div>
</body>
</html>

<script>
//Logo Canvas Script
var colors = ["#B8D430", "#3AB745", "#029990", "#3501CB",
                 "#2E2C75", "#673A7E", "#CC0071", "#F80120",
                 "#F35B20", "#FB9A00", "#FFCC00", "#FEF200"];

var startAngle = 0;
var arc = Math.PI / 6;
var ctx;

function drawRouletteWheel() {
  var canvas = document.getElementById("canvaslogo");
  if (canvas.getContext) {
    var outsideRadius = 100;
    var insideRadius = 75;
    var canvasWidth = 202;

    ctx = canvas.getContext("2d");
    ctx.clearRect(0,0,100,100);

    ctx.strokeStyle = "black";
    ctx.lineWidth = 2;

    for(var i = 0; i < 12; i++) {
      var angle = startAngle + i * arc;
      ctx.fillStyle = colors[i];
      ctx.beginPath();

      ctx.arc(101, 101, outsideRadius, angle, angle + arc, false);
      ctx.arc(101, 101, insideRadius, angle + arc, angle, true);
      ctx.translate(canvasWidth/2, canvasWidth/2);
      ctx.rotate(Math.PI / 180);
      ctx.translate(-canvasWidth/2, -canvasWidth/2);
      ctx.stroke();
      ctx.fill();
    }
  }
}

function spin() {
  spinAngleStart = Math.random() * 10 + 10;

  spinTimeTotal = Math.random() * 3 + 4 * 1000;
}
setInterval(drawRouletteWheel, 100)
</script>
