<div class="favorites">

</div>

<script>
if ($('#user').text().length !== 0) {
  var userId = JSON.parse($('#user').text())._id
}

$.ajax({
  method: 'GET',
  url: '/favorites/'+userId,
  data: {userId: userId},
  success: function(data) {
    data.forEach(function(favorite) {

      var entry = '<div class="favorite"><p>Name: ' + favorite.name + '</p><p>Categories:'+ favorite.categories +'</p><p>Address: '+ favorite.address +'</p><p>Phone Number:' + favorite.display_phone  + '</p><p>Rating: '+ favorite.rating + '</p><img src="' + favorite.rating_img_url_large + '"/><br><a href="' + favorite.url + '"> See Yelp Page' + '</a><br><img src="' + favorite.image_url + '"/><br><a href="/profile"><button class="deleteFavorite" id="' + favorite._id + '">Delete</button></a>'
      $('.favorites').append(entry)

      $delete = $('#'+favorite._id)
      $delete.on('click', function(){
        var _id = $(this).attr('id')
        console.log('The saved entry with id' + _id + 'is deleted')
        $.ajax({
          url: '/favorite/delete/' + _id,
          method: 'DELETE'
        })
      })
    })
  }
})








</script>
