<div class="favorites">

</div>

<script>
if ($('#user').text().length !== 0) {
  var userId = JSON.parse($('#user').text())._id
}

$.ajax({
  method: 'GET',
  url: '/favorites',
  data: {userId: userId},
  success: function(data) {
    data.forEach(function(favorite) {
      var entry = '<div>' + JSON.stringify(favorite) + '</div><br><br<br>'
      $('.favorites').append(entry)
    })
  }
})
</script>
