
@font-face {
    font-family: hamburgerFont;
    src: url(../font/HamburgerHeavenNF.ttf);
}
body {
    background-image: url("/images/food_icons.png");
    background-size: 800px;
    font-family: Open Sans, Helvetica, sans-serif;;
}
#canvaslogo{
  background-color: grey;
  border-radius: 1000px;

}
#logo-text{
  font-size: 40px;
  position: absolute;
  margin-top: 80px;
  margin-left: 35px;
  float: left;
}

.container {
    border: 1px solid black;
    width: 700px;

    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(245,245,245,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(92,92,92,1)), color-stop(0%, rgba(138,138,138,1)), color-stop(83%, rgba(56,56,56,1)), color-stop(89%, rgba(56,56,56,1)), color-stop(100%, rgba(56,56,56,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 0%, rgba(0,0,0,1) 0%, rgba(92,92,92,1) 0%, rgba(138,138,138,1) 0%, rgba(56,56,56,1) 83%, rgba(56,56,56,1) 89%, rgba(56,56,56,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 0%, rgba(0,0,0,1) 0%, rgba(92,92,92,1) 0%, rgba(138,138,138,1) 0%, rgba(56,56,56,1) 83%, rgba(56,56,56,1) 89%, rgba(56,56,56,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 0%, rgba(0,0,0,1) 0%, rgba(92,92,92,1) 0%, rgba(138,138,138,1) 0%, rgba(56,56,56,1) 83%, rgba(56,56,56,1) 89%, rgba(56,56,56,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 0%, rgba(0,0,0,1) 0%, rgba(92,92,92,1) 0%, rgba(138,138,138,1) 0%, rgba(56,56,56,1) 83%, rgba(56,56,56,1) 89%, rgba(56,56,56,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#383838', GradientType=0 );
}

.cuisines-container {
  overflow: auto;
  height: 150px;
  overflow-x: hidden;
}

.text-center {

}
.logo-all{
  font-family: hamburgerFont;
  font-size: 50px;
  float: left;
  margin-left: 20px;
  position: absolute;
  z-index: 100000;

}

.col-sm-6 {
    color: white;
}

.results-container {
    width: 100%;
    color: #fff;
}

.results-container button {
    border-radius: 4px;
    color: #000;
    background: #ffa33a;
    border: 0;
    transition: all .5s ease;
}
.results-container button:hover {
    background: #ffc52d;
}

.restaurant-buttons {
    margin-bottom: 12px;
}

h1 {
    font-weight: 100;
}

.restaurant-title h1 {
    float: left;
    margin: 0;
}

.restaurant-title img {
    margin-top: 5px;
    float: right;
    height: 20px;
}

.restaurant-title {
    margin-top: 20px;
    margin-bottom: 2px;
}

.restaurant-image-container {
    width: 100%;
    background-size: cover;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
}
a:hover, a:active {
    color: #ffdd8f;
    text-decoration: none;
    border-bottom: 1px solid #ffdd8f;
}
.favorite {
  border: 2px solid grey;
  padding: 5px;
}

a {
    color: #ffa31a;
    transition: all .2s ease;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

.header {
    margin-bottom: 20px;
    margin-top: 10px;
}
.results-info {
    font-size: 18px;
}

.btn {
    color: black;
}

.cuisines-options {
  display:none;
}

.checked {
  background-color: skyblue;
}
