.cuisines-container {
  overflow: auto;
  height: 150px;
  overflow-x: hidden;
  border: 1px solid black;
}

.cuisines-options {
  display:none;
}

.checked {
  background-color: skyblue;
}

.favorite {
  border: 2px solid grey;
  padding: 5px;
}
