body {
    background-image: url("/images/food_icons.png");
    background-size: 800px;
}

.container {
    border: 1px solid black;
    background-color: grey;
    width: 600px;

}

.cuisines-container {
  overflow: auto;
  height: 150px;
  overflow-x: hidden;
}

.text-center {

}

.col-sm-6 {
    color: white;
}

.results-container {
    width: 550px;
    color: black;
    font-weight: bold;
}

.results-image {
    width: 300px;
    height: 300px;
}

.results-info {
    font-size: 18px;
}

.btn {
    color: black;
}

.cuisines-options {
  display:none;
}

.checked {
  background-color: skyblue;
}
