
@font-face {
    font-family: hamburgerFont;
    src: url(../font/HamburgerHeavenNF.ttf);
}
body {
    background-image: url("/images/food_icons.png");
    background-size: 800px;
}
#canvaslogo{
  background-color: grey;
  border-radius: 1000px;

}
#logo-text{
  font-size: 40px;
  position: absolute;
  margin-top: 80px;
  margin-left: 35px;
  float: left;
}

.container {
    border: 1px solid black;
    background-color: grey;
    width: 600px;

}

.cuisines-container {
  overflow: auto;
  height: 150px;
  overflow-x: hidden;
}

.text-center {

}
.logo-all{
  font-family: hamburgerFont;
  font-size: 50px;
  float: left;
  margin-left: 20px;
  position: absolute;

}

.col-sm-6 {
    color: white;
}

.results-container {
    width: 550px;
    color: black;
    font-weight: bold;
}

.results-image {
    width: 300px;
    height: 300px;
}

.results-info {
    font-size: 18px;
}

.btn {
    color: black;
}

.cuisines-options {
  display:none;
}

.checked {
  background-color: skyblue;
}

.favorite {
  border: 2px solid grey;
  padding: 5px;
}
